@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/Open-Sans-v17-Latin-Regular.woff") format("woff"),
         url("./fonts/Open-Sans-v17-Latin-Regular.woff2") format("wof2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/Open-Sans-v17-Latin-700.woff") format("woff"),
         url("./fonts/Open-Sans-v17-Latin-700.woff2") format("woff2");
}

@font-face {
    font-family: "National-LFSN-Book";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/National-LFSN-Book.woff") format("woff"),
         url("./fonts/National-LFSN-Book.woff2") format("woff2");
}

@font-face {
    font-family: "National-LFSN-Semibold";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/National-LFSN-Semibold.woff") format("woff"),
         url("./fonts/National-LFSN-Semibold.woff2") format("woff2");
}

